.cell {
    display: inline-block;
    width: 25%;
    height: 70px;
    /* padding-top: 20px; */
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.number_cell {
    border: 1px solid #000;  
    cursor: pointer;
    border-radius: 10px;
    background-color: #89ABE3FF;
    color: #fff;
    font-size: 24px;
}

.zero_cell {
    border: 1px solid #FCF6F5FF; 
}

.board {
    /* width: 400px;
    height: 400px; */
    display: inline-block;
    border: 2px solid #000; 
    background-color: #FCF6F5FF;
}

body {
    background-color: #fff;
}

html {
    background: #fff;
}

button {
    margin-bottom: 40px;
}

.solved_toast {
    visibility: hidden;
}

.solved_toast_visible {
    visibility: visible;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.container {
    background-color: #fff;
}